/* GRID TEMPLATE ITEMS */
/* NAVBAR ITEMS */
.n-item1 { grid-area: one; }
.n-item2 { grid-area: two; }
.n-item3 { grid-area: three; }
.n-item4 { grid-area: four; }
.n-item5 {grid-area: uline; }

/* STYLES FROM TEMPLATE */

body {
	font-family: "Apercu","Helvetica Neue",Arial,sans-serif;
}

.container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

header {
  display: flex;
	align-items: center;
	grid-column: span 3;
	text-align: center;
	font-size: 1.4em;
	padding: 40px;
	background-color: #fff;
	color: #ff4c1b;
}

.header-container {
	position: absolute;
  right: 1em;
  max-width: 50%;
	text-align: right;
}

.logo {
	height: 50px;
	margin-right: 20px;
}

.logo-container {
	font-size: 2em;
	font-weight: 900;
}

.content-container {
	margin: 2em auto;
	max-width: 1200px;
}



.title-container {
	height: 240px;
	margin-bottom: 30px;
	padding: 30px;

	background: white;
	color: #252525;
	display: flex;
	align-items: center;
}

.title-container h1 {
	display: block;
	width: 100%;
	margin: 0;
	padding: 0;
}


main {
	flex: 1;
}

nav {
	background-color: #ECECED;
	color: #FF4F2B;
	padding: 10px 30px;
}

.nav-container {
  margin: 1em auto;
  width: auto;
}

nav ol {
	padding-left: 20px;
	list-style: none;
}

nav ol li {
	margin: 20px 0;
	font-size: 0.8em;
}

nav a.active {
	font-weight: 900;
}

nav a,
header a {
	color: #ff4c1b;
	text-decoration: none;
	font-size: 0.8em;
}

nav a:hover,
header a:hover {
	color: #aaa;
}

article a {
	color: #369;
}



article p {
	padding: 0 25px;
}

article ol {
	padding: 0 50px;
	list-style: decimal;
}

article ul {
	padding: 0 50px;
	list-style: initial;
}

figure {
	display: block;
	margin-left: 25px;
	margin: 0 auto;
}

figure figcaption {
	display: block;
}

figure.image-container {
	max-width: 625px;
}

figure.image-container figcaption,
label {
	display: block;
	text-align: center;
	font-weight: 300;
}

figure img {
	display: block;
	width: 100%;
	margin: inherit auto;
}

figure.video-container {
	position: relative;
	padding-bottom: 56.25%;
	/* 16:9 */
	padding-top: 25px;
	margin: inherit auto;
	height: 0;
}

figure.video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

figure.video-container figcaption {
	display: block;
	width: 100%;
	position: absolute;
	top: 103%;
	text-align: center;
	font-weight: 300;
}

footer {
	grid-column: span 3;
	padding: 30px;
	text-align: center;
	font-size: 1.4em;
	background-color: #ECECED;
	color: #252525;
}
/* ADDITIONAL STYLES */
/* NAVBAR GRID CONTAINER */
.navbar-grid-container {
  display: grid;
  grid-template-areas:
    'one two three four'
    'uline uline uline uline';
  /*grid-gap: 10px;*/
  /*background-color: #2196F3;*/
  padding: 5px;
	position: absolute;
	width: 100vw;
}
/* NAVBAR GRID ITEMS */
.navbar-grid-container > div {
  /*background-color: rgb(211,	234,	252);*/
  text-align: left;
  padding: 20px 5px 0;
  font-size: 14px;
}

.navbar-grid-container > div > a {
  text-decoration: none;
  color: rgba(100, 100, 100, 1)
}
/* first letter of nav item */

.navbar-grid-container > div > a:hover {
    border-bottom: 2px solid;
    border-bottom-color: rgba(239, 134, 113, 1);
}
        /* styles for underline */
underline {
  background-color: rgba(200, 200, 200, 1);
  /*padding: 2px 0 0;*/
  margin-top: 4px;
  height:2px;
  width: 100%;
  display: block;
}


/*target rules based on jsfiddle: https://jsfiddle.net/codepo8/wsD9L*/


.module {
  display: none;
}
.module:target {
  display: grid;
}

/* STYLES FROM TEMPLATE */
/* --------------------------------
Typography
-------------------------------- */

:root {
	--font-primary: "Apercu", sans-serif;
	--font-secondary: sans-serif;
	/* set base values */
	--text-base-size: 1.4em;
	--text-scale-ratio: 1.2;
	/* type scale */
	--text-xs: calc(1em / (var(--text-scale-ratio) * var(--text-scale-ratio)));
	--text-sm: calc(1em / var(--text-scale-ratio));
	--text-md: calc(1em * var(--text-scale-ratio));
	--text-lg: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio));
	--text-xl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
	--text-xxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
	/* line-height */
	--heading-line-height: 1.2;
	--body-line-height: 1.4;
	/* spacing values */
	--space-unit: 2em;
	--space-xxxs: calc(0.25 * var(--space-unit));
	--space-xxs: calc(0.375 * var(--space-unit));
	--space-xs: calc(0.5 * var(--space-unit));
	--space-sm: calc(0.75 * var(--space-unit));
	--space-md: calc(1.25 * var(--space-unit));
	--space-lg: calc(2 * var(--space-unit));
	--space-xl: calc(3.25 * var(--space-unit));
	--space-xxl: calc(5.25 * var(--space-unit));
	--space-xxxl: calc(8.5 * var(--space-unit));
	/* components padding */
	--component-padding: var(--space-sm);
	/* text colors */
	--color-text: #252525;
	--color-text-h1: #F2421B;
	--color-text-h2: #F2421B;
	--color-text-h3: #ff5d2c;
	--color-text-h4: #ff6f3f;
	--color-text-h5: #ff9268;
}

body {
	font-size: var(--text-base-size);
	font-family: var(--font-primary);
	color: var(--color-text);
}

h1,
h2,
h3,
h4 {
	color: var(--color-text-heading);
	margin-bottom: var(--space-xs);
	line-height: var(--heading-line-height);
	font-weight: 200;
	padding-left: 25px;
}


/* text size */

h1,
.text--xxl {
	font-size: var(--text-xxl);
	color: var(--color-text-h1);
}

h2,
.text--xl {
	font-size: var(--text-xl);
	color: var(--color-text-h2);
	border-left: 5px solid var(--color-text-h2);
	padding-left: 20px;
}

h3,
.text--lg {
	font-size: var(--text-lg);
	color: var(--color-text-h3);
}

h4,
.text--md {
	font-size: var(--text-md);
	color: var(--color-text-h4);
}

.text--sm,
small {
	font-size: var(--text-sm);
}

.text--xs {
	font-size: var(--text-xs);
}

p {
	line-height: var(--body-line-height);
	margin: var(--space-sm) 0;
}

ol,
ul {
	line-height: var(--body-line-height);
	margin: var(--space-sm) 0;
}

nav ol,
nav ul {
	margin: var(--space-xxs) 0;
	line-height: 0.5em;
}

iframe {
	margin-bottom: var(--space-sm);
}

figure {
	margin-bottom: var(--space-md);
}

img,
article .content-container pre,
label {
	margin-bottom: var(--component-padding);
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

/* modifications */
.content-container h2 {
	margin-top: 15vh;
}

.filterby {
	width: 100%;
}
#FilterContainer {
	padding: 5vh;
	text-align: center;
}

select {
	font-size: 1.4em;
}

table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}

.tick {
	background-color: #bddc96;
	color: #bddc96
}

.table-fig {
	margin-top: 5vh;
}

/* MEDIA QUERIES */

@media (min-width: 1200px) {
}

@media (max-width: 760px) {

  .content-container {
		margin: 2em 1em;
	}

  .content-container h2 {
  	font-size: var(--text-md);
  	border-left: 5px solid var(--color-text-h2);
  	padding-left: 20px;
  }
  .content-container h3 {
    font-size: var(--text-md);
  }
}

@media (max-width: 500px) {

}

@media (min-width: 761px) and (max-width: 1500px) {
	.content-container {
		margin: 2em 2em;
	}
}
